.list-group-item.active:hover{
    background-color: #777777 !important;
    border-color: #777777    !important;
}

.list-group-item.active, .list-group-item.active:hover {
  background-color: #777777  !important;
  border-color: #777777  !important;
}

.euro-sign{
  color: white;
}